<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.BoardMapper">
	<select id="getList" parameterType="org.joonzis.domain.Criteria" resultType="org.joonzis.domain.BoardVO">
		<![CDATA[
			SELECT BNO, TITLE, WRITER, REGDATE, replycnt FROM
				(SELECT ROWNUM AS RN, A.* FROM
					(SELECT BNO, TITLE, WRITER, REGDATE, replycnt FROM TBL_BOARD ORDER BY BNO DESC) A
				WHERE ROWNUM <= #{pageNum} * #{amount})
			WHERE RN > (#{pageNum} - 1) * #{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM TBL_BOARD
	</select>
	
	<insert id="insertList" parameterType="org.joonzis.domain.BoardVO">
	
	<!-- 3. selectkey 사용 -->
		<!-- <selectKey keyProperty="bno" resultType="int" order="BEFORE">
			SELECT SEQ_BOARD.nextval FROM dual
		</selectKey> -->
	
		INSERT INTO TBL_BOARD VALUES(
			#{bno},
			#{title},
			#{content},
			#{writer},
			SYSDATE,
			SYSDATE,
			0
		)
		<!-- INSERT INTO TBL_BOARD VALUES(
			#{bno},
			#{title},
			#{content},
			#{writer},
			SYSDATE,
			SYSDATE,
			0
		) -->
	</insert>
	
	<select id="readList" parameterType="int" resultType="org.joonzis.domain.BoardVO">
		SELECT * FROM TBL_BOARD WHERE BNO=#{bno}
	</select>
	
	<delete id="deleteList" parameterType="int">
		DELETE FROM TBL_BOARD WHERE BNO=#{bno}
	</delete>
	
	<update id="updateList" parameterType="org.joonzis.domain.BoardVO">
		UPDATE TBL_BOARD
		SET TITLE=#{title}, CONTENT=#{content}, WRITER=#{writer}, UPDATEDATE=SYSDATE
		WHERE BNO=#{bno}
	</update>
	
	<update id="updateReplyCnt" parameterType="org.joonzis.domain.BoardVO">
		UPDATE tbl_board set replycnt = replycnt +#{amount} where bno = #{bno}
	</update>

	<select id="">
			
	</select>
	
</mapper>
