<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.ChatRoomUserMapper">
    <!-- 1. 채팅방 유저 정보 추가 -->
    <insert id="insert" parameterType="org.joonzis.domain.ChatRoomUserVO">
        INSERT INTO tbl_chat_room_user (
            room_id,
            user_id,
            last_read_msg_id,
            joined_at
        ) VALUES (
            #{room_id},
            #{user_id},
            #{last_read_msg_id},
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- 2. 마지막 읽은 메시지 ID 업데이트 -->
    <update id="updateLastReadMsgId">
        UPDATE tbl_chat_room_user
        SET last_read_msg_id = #{msg_id}
        WHERE room_id = #{room_id}
          AND user_id = #{user_id}
    </update>
    
    <!-- 3. 마지막 읽은 메시지 ID 조회 -->
    <select id="findLastReadMsgId" resultType="java.lang.Long">
        SELECT last_read_msg_id
        FROM tbl_chat_room_user
        WHERE room_id = #{room_id}
          AND user_id = #{user_id}
    </select>
    
    <select id="countUnread" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tbl_msg m
        JOIN tbl_chat_room_user cru
          ON m.room_id = cru.room_id
        WHERE cru.user_id = #{user_id}
          AND cru.room_id = #{room_id}
          <![CDATA[ AND m.msg_id > NVL(cru.last_read_msg_id, 0) ]]>
    </select>
</mapper>
