<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.joonzis.mapper.MsgMapper">

    <!-- 1. 메시지 삽입 -->
    <insert id="insert" parameterType="org.joonzis.domain.MsgVO" keyProperty="msg_id">
        INSERT INTO tbl_msg (msg_id, room_id, sender_id, content, created_at)
        VALUES (seq_msg.NEXTVAL, #{room_id}, #{sender_id}, #{content}, SYSTIMESTAMP)
        <selectKey keyProperty="msg_id" resultType="long" order="AFTER">
            SELECT seq_msg.CURRVAL FROM dual
        </selectKey>
    </insert>

    <!-- 2. 채팅방의 모든 메시지 조회 -->
    <select id="findByRoomId" parameterType="long" resultType="org.joonzis.domain.MsgVO">
        SELECT *
        FROM tbl_msg
        WHERE room_id = #{room_id}
        ORDER BY msg_id ASC
    </select>

    <!-- 3. 마지막 읽은 메시지 이후 메시지 조회 -->
    <select id="findAfterMsgId" resultType="org.joonzis.domain.MsgVO">
        SELECT *
        FROM tbl_msg
        WHERE room_id = #{room_id}
          AND <![CDATA[msg_id > #{msg_id}]]>
        ORDER BY msg_id ASC
    </select>
</mapper>
